{% extends "::base.html.twig" %}

{% block body %}
	<div class="row-fluid">
		<div class="col-md-8 col-md-offset-2">
			<h1>Administration du PEC</h1>

			<h2>Les fonctionnalitées</h2>
			<ul>
				<li>Ajout/Suppression/Modification d'une compétence</li>
				<li>Ajout/Suppression/Modification d'une catégorie compétence</li>
			</ul>
		</div>
	</div>
{% endblock %}