{% extends "::base.html.twig" %}
{% block title %}PEC - Connexion{% endblock %}
{% block body %}


    <div id="succes-mail-send-lost-password" style="display: none" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>Un nouveau email vient de vous être envoyer, vous pourrez définir un nouveau mot de passe</p>
    </div>

    <div id="error-mail-send-lost-password" style="display: none" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>L'adresse que vous avez renseigné n'est associé à aucun compte</p>
    </div>

    {% if validation_account is defined %}
        {% if validation_account %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Votre compte est maintenant activé, vous n'avez plus qu'à vous connecter
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Désolé mais l'adresse de validation est incorrecte, vérifiez là ou contacter un administrateur
            </div>
        {% endif %}
    {% endif %}

	{#{% if not_activated is defined %}
		{% if not_activated %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Votre compte n'est pas encore activé, le lien d'activation ce trouve dans le mail qui vous a été envoyé lors de votre inscription
			</div>
		{% endif %}
	{% endif %}#}

    {% if mail_send is defined %}
        {% if mail_send %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Votre compte a été créé, un mail de validation vient de vous être envoyé.
            </div>
        {% endif %}
    {% endif %}

    {% if new_password_defined is defined %}
        {% if new_password_defined %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Votre nouveau mot de passe a bien été défini, vous pouvez maintenant vous connecter
            </div>
        {% endif %}
    {% endif %}

    {% if mail_new_password_send is defined %}
        {% if mail_send %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Un email pour redéfinir votre mot de passe vient de vous être envoyé.
            </div>
        {% endif %}
    {% endif %}

    {% if error is defined %}
	    {% if error %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error.message }}
            </div>
	    {% endif %}
    {% endif %}

	<div id="home">
		<div class="seg segment1">
			<div class="col-md-8 text">

				<h1>Portefeuille électronique des compétences.</h1>

				<h2>Créez, partagez vos compétences et visualisez celles de vos connaissances.</h2>

				<h3></h3>

			</div>


			<div class="col-md-4">
				<form action="{{ path('login_check') }}" method="post" id="login">

					<div class="input-group input-group-lg form">
						<span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
						<input class="form-control" type="text" placeholder="Pseudo" aria-describedby="sizing-addon1"
							   id="username" name="_username" value="{% if last_username is defined %}{{ last_username }}{% endif %}"/>
					</div>

					<div class="input-group input-group-lg form">
						<span class="input-group-addon glyphicon glyphicon-lock" id="sizing-addon1"></span>
                        <input class="form-control" type="password" placeholder="Mot de passe" aria-describedby="sizing-addon1"
                               id="passsword" name="_password" />
					</div>

					<button type="submit" class="btn btn-success form">Connexion</button>
				</form>
                <p style="color:#FFFFFF">Vous n'arrivez pas à vous connecter ? Avez-vous bien validé votre compte ?</p>
                <p style="color:#FFFFFF">Vous avez oubliez votre mot de passe ?  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#lostpassword">
                        cliquez-ici
                    </button></p>
			</div>

		</div>
		<div class="seg segment2">
			<div class="col-md-12">

				<h1>Vous allez adorer PEC.
					Un outil puissant pour pouvoir partager des compétences en toute facilité.</h1>
			</div>

			<div class="col-md-6 subSegement">
				<span class="glyphicon glyphicon-user"></span>

				<h2>Créez votre portefeuille de compétences.</h2>

				<p>Ajoutez vos compétences par catégories et faites les valider par vos connaissances. Visualisez vos compétences et celles de vos connaissances.</p>
			</div>
			<div class="col-md-6 subSegement">
				<span class="glyphicon glyphicon-pencil"></span>

				<h2>Exporter vos compétences.</h2>

				<p>Exportez votre portefeuille de compétences pour pouvoir les partager sous d'autres formats. </p>
			</div>


		</div>

		<!--<div class="segment3">
			<h2>Placer le contenu ici.</h2>

			<p>Placer le contenu ici. </p>

		</div>-->

        <!-- Modal -->
        <div class="modal fade" id="lostpassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Mot de passe oublié</h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <p>Veuillez renseigner votre adresse email pour recevoir un email permettant de redéfinir votre mot de passe</p>
                        <input class="form-control" placeholder="Votre email" type="email" name="email" id="change-email" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="button-change-email" type="button" class="btn btn-primary">Me renvoyer un email</button>
                    </div>
                </div>
            </div>
        </div>

	</div>

    <script>

        $(document).ready(function() {

            $('#button-change-email').on('click', function() {

                var email = $('#change-email').val();

                $.ajax({
                    type: "POST",
                    url: "{{ path('public_lost_password') }}",
                    dataType: "text",
                    data: {email : email},
                    success : function(response)
                    {
                        if(response == 1) {
                            $("#lostpassword").hide();
                            $("#succes-mail-send-lost-password").show();
                        }
                        else {
                            $("#lostpassword").hide();
                            $("#error-mail-send-lost-password").show();
                        }
                    }
                });
            });
        });

    </script>
{% endblock %}