{% extends "::base.html.twig" %}
	{% block stylesheets %}
        <style>
            html, body {
                height:100%;
                padding: 0px;
                margin: 0px;
            }
        </style>
    {% endblock %}
    {% block js %}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% endblock %}


{% block body %}

    <h1>Timeline</h1>
    <div id="timeline-embed"></div>

    <script type="text/javascript">
	    var timeline_config = {
		    width: "100%",
		    height: "550",
		    debug: true,
		    source: {{ timeLine|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
	    };
	    function ajoutEvent(){
		    $('.validUser').unbind('click').click(function(){
			    var input = $(this);
			    $.ajax({
				    type: "GET",
				    url: $(this).data('url'),
				    dataType: "json",
				    success : function(response)
				    {
					    if(response){
						    console.log($(this));
							$(this).content('poney');
					    }else{
						    alert('Vous ne pouvez pas valider plusieurs fois');
					    }
				    }
			    });
			    $(this).html('coucou');
		    });
	    }
    </script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/timeline/storyjs-embed.js') }}"></script>
{% endblock %}