{% extends "::base.html.twig" %}

{% block body %}

    <h1>TEST</h1>
    <label>Username</label>
    <span>{{ app.user.username }}</span>
    <br/>
    <label>Email</label>
    <span>{{ app.user.mail }}</span>

{% endblock %}